
.text-center{
 text-align: center;
 color:rgb(236, 66, 66);
 padding-top: 20px;

}

.bg-red{
    background-color: red;
}
.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
   
}

.flex-col{
   flex-direction: column;
    
}

.item-center{

    align-items: center;
}